{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" media="all">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Fitness Programs</title>    
</head>
<body>
      <nav id="mainav" class="hoc clear">
        <ul class="clear">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a class="drop" href="#">Program type</a>
            <ul>
              <li><a href="http://localhost:8000/results-programs/?q1=">All types</a></li>
              <li><a href="http://localhost:8000/results-programs/?q1=Weight loss">Weight loss</a></li>
              <li><a href="http://localhost:8000/results-programs/?q1=Weight gain">Weight gain</a></li>
              <li><a href="http://localhost:8000/results-programs/?q1=Yoga">Yoga</a></li>
              <li><a href="http://localhost:8000/results-programs/?q1=Dance">Dance</a></li>
              <li><a href="http://localhost:8000/results-programs/?q1=Muscle gain">Muscle gain</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Price range</a>
            <ul>
              <li><a href="http://localhost:8000/results-programs/?q1=">All price ranges</a></li>
              <li><a href="{% url 'pricerange1' %}">Rs.0 to Rs.1500</a></li>
              <li><a href="{% url 'pricerange2' %}">Rs.1500 to Rs.3000</a></li>
              <li><a href="{% url 'pricerange3' %}">Rs.3000 to Rs.5000</a></li>
              <li><a href="{% url 'pricerange4' %}">Rs.5000 to Rs.10000</a></li>
            </ul>
          </li>
          
        </ul>
      </nav>
      <div class="row" style="padding-top: 40px;">
        <div class="column" style="float: left; width: 33.33%;">
          <div class="search-container">
           <form method="GET" action="{% url 'search_programs' %}" >
              <label class="sr-only" for="inlineFormInputGroupUsername">Search</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><span class="icon icon-search"></span></div>
                </div>
                <input type="text" name="q1" value="{{request.GET.q1}}" id="inlineFormInputGroupUsername" class="form-control border-0" placeholder="Search" style="background: lightblue;">
              </div>
          </form>
          </div>
        </div>
      </div>
        <div class="row">
          {% for object in roles %}
          <div class="col-md-4 col-sm-4 col-lg-4 m-4">
                  <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"> {{ object.title }}</h5>
                            <a href="{{object.get_absolute_url}}">View Details</a>
                            <p class="card-text">{{ object.salary }}</p>
                            <span class="badge purple mr-1"> {{object.role}} </span>
                          </div>
                      <!-- <div class='card-footer text-center'>
                      <a href="{{ object.get_add_to_cart_url }}" class="btn btn-success">Add to Cart</a>
                      <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger">Remove from Cart</a>
                      </div> -->
                   </div>
            </div>
          {% endfor %}

      </div>
      </div>
</body>
</html>