{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <style>
        form{
            /* border:4px solid black; */
            margin: 0 auto;
            padding: 40px;
            width: fit-content;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>
    
</head>
<body>
    <form action="{% url 'answerForum' forumName %}" method="POST">
        {% csrf_token %}
        <strong> Topic: {{ forumName }} </strong>
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="submit">
    </form>
</body>
</html>
