{% extends 'discussionForum/home.html' %}
{% block content %}
<div class="container">
    {% for ans in answers %}
        <div class="container">
            <p>{{ ans.answer }}</p>
            <h5>By: {{ ans.answeredBy.username }}</h5>
            <h5>On: {{ ans.date_answered }}</h5>
            {% if request.user == ans.answeredBy %}
            <button class="btn btn-primary"> <a href="{% url 'updateAnswer' ans.id %}" style="text-decoration: none;color: white;">Update</a> </button>
            {% endif %}
            {% if request.user == ans.answeredBy %}
            <button class="btn btn-primary"> <a href="{% url 'deleteAnswer' ans.id %}" style="text-decoration: none;color: white;">Delete</a> </button>
            {% endif %}
            
        </div>
    {% endfor %}
</div>
{% endblock %}