{% extends 'discussionForum/home.html' %}
{% block content %}
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h3>Posts</h3>
    <button class="btn btn-primary" style="margin-top: 15px;"><a href="{% url 'addQuestion' %}" style="text-decoration: none;color: white;">Ask Question</a></button>
  </div>
  <div class="container p-0">
    {% for ques in questions %}
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="container">
          <h4>{{ques.question}}</h4>
        <h6><strong> By: {{ques.createdBy.username}}</strong><br>On: {{ ques.date_created }}</h6>
        <br>
        <h6>{{ques.description}}</h6>
        </div>
        <div class="container" style="margin-top: 10px;">
          <button class="btn btn-primary"><a href="{% url 'answerAQuestion' ques.pk %}" style="text-decoration: none;color: white;">Answer</a></button>
          <button class="btn btn-primary"><a href="{% url 'viewAnswers' ques.pk %}" style="text-decoration: none;color: white;">View Answers</a></button>
          {% if request.user == ques.createdBy %}
            <button class="btn btn-primary"><a href="{% url 'updateQuestion' ques.pk %}" style="text-decoration: none;color: white;">Update</a></button>
          {% endif %}
          {% if request.user == ques.createdBy %}
            <button class="btn btn-primary"><a href="{% url 'deleteQuestion' ques.pk %}" style="text-decoration: none;color: white;">Delete</a></button>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}