{% extends 'nutrition/base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-left: 100px;margin-top: 20px;">
    <h3>Hi, {{ request.user.username }}</h3>
    <table class="table table-striped" style="border: 5px;margin-top: 50px;">
        <thead>
          <tr>
            <th style="text-align: center;">Personal Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Height</th>
            <td>{{ height }} m<sup>2</sup></td>
          </tr>
          <tr>
            <th>Weight</th>
            <td>{{ weight }} kg</td>
          </tr>
          <tr>
            <th>BMI</th>
            <td>{{ bmi }} kg/m<sup>2</sup></td>
          </tr>
          <tr>
            <th>Date of Birth</th>
            <td>{{ dob }}</td>
          </tr>
          <tr>
            <th>Gender</th>
            <td>{{ gender }}</td>
          </tr>
        </tbody>
      </table>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <!-- <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="{% static 'js/dashboard.js' %}"></script></body>
{% endblock %}